@import 'constants';

.alert {
  @extend .alert;
  border: 0;
  color: $main-background;

  &.--danger {
    @extend .alert-danger;
    background-color: $alert-background-danger;
  }

  &.--warning {
    @extend .alert-warning;
    background-color: $alert-background-warning;
  }

  &.--info {
    @extend .alert-info;
    background-color: $alert-background-info;
  }

  &.--margin-top {
    margin-top: 5px;
  }

  &.--margin-bottom {
    margin-bottom: 15px;
  }
}
