$dark-background: #1a1c22;
$main-background: #252830;
$grey-accent: #434857;
$base-text: #a9aebd;
$button-text: rgba(255, 255, 255, 0.498039);
$button-hover-text: rgba(255, 255, 255, 0.75);
$red-alert: #9c5656;
$yellow-alert: #dfdf84;
$blue-alert: rgba(28, 168, 221, 0.3);
$fa-font-path: '/fonts/';
@import '../../node_modules/font-awesome/scss/font-awesome';

@font-face {
  font-family: SanFranciscoThin;
  src: local('SFNS Display Thin'), url('/fonts/SystemSanFranciscoDisplayThin.ttf');
}

@font-face {
  font-family: SanFranciscoBold;
  src: local('SFNS Display Bold'), url('/fonts/SystemSanFranciscoDisplayBold.ttf');
}

@font-face {
  font-family: SanFranciscoRegular;
  src: local('SFNS Display Regular'), url('/fonts/SystemSanFranciscoDisplayRegular.ttf');
}

@font-face {
  font-family: SanFranciscoUltralight;
  src: local('SFNS Display Ultralight'), url('/fonts/SystemSanFranciscoDisplayUltralight.ttf');
}

@font-face {
  font-family: SanFranciscoUltralight;
  src: local('SFNS Display Ultralight'), url('/fonts/SystemSanFranciscoDisplayUltralight.ttf');
}

@mixin breakpoint($point) {

  @if ($point == lg) {
    @media (min-width: 1200px) { @content }
  }

  @else if ($point == md) {
    @media (min-width: 992px) and (max-width: 1199px) { @content }
  }

  @else if ($point == sm) {
    @media (min-width: 768px) and (max-width: 991px) { @content }
  }

  @else if ($point == xs) {
    @media (max-width: 767px) and (min-width: 641px) { @content }
  }

  @else if ($point == xxs) {
    @media (max-width: 640px) and (min-width: 481px) { @content }
  }

  @else if ($point == xxxs) {
    @media  (max-width: 480px) { @content }
  }

  @else if ($point == xxxxs) {
    @media  (max-width: 400px) { @content }
  }

  @else if ($point == xxxxxs) {
    @media  (max-width: 300px) { @content }
  }
}
