@import 'constants';

canvas {
  height: auto !important;
  width: 100% !important;
}

.dashboard {
  font-family: SanFranciscoRegular;

  &__heading {
    color: #fff;
  }

  &__section {
    padding: 50px 0 0 0;
  }

  &__info-alert {
    margin: auto;
    max-width: 500px;
  }
}

.stock-card {
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-3;
  @extend .base-text;

  margin-bottom: 10px;

  &__close-button {
    @extend .close;
    @extend .fa;
    @extend .fa-times;
    color: #666;
    text-shadow: none;

    &:hover {
      color: #fff;
    }
  }

  &__link {
    @extend .base-text;

    &:hover {
      color: $base-text;
      text-decoration: none;
    }
  }

  &__price-text {
    color: #fff;
    font-size: 2em;
  }
}

.direction-label {
  color: $base-text;
  cursor: default;
  margin-left: 2px;
  padding: 2px 8px;
  visibility: hidden;

  &:hover {
    visibility: visible;
  }

  &__icon {
    @extend .fa;
    margin-right: 5px;
    visibility: visible;

    &.--increase {
      @extend .fa-arrow-circle-up;
      color: rgb(27, 201, 142);
    }

    &.--decrease {
      @extend .fa-arrow-circle-down;
      color: rgb(230, 71, 89);
    }
  }
}

.change-label {
  border-radius: 4px;
  color: $main-background;
  font-weight: bold;
  margin-left: 10px;
  padding: 2px 8px;

  &.--aligned-in-card {
    vertical-align: 3px;
  }

  &.--increase {
    background-color: rgb(27, 201, 142);
  }

  &.--decrease {
    background-color: rgb(230, 71, 89);
  }
}

.white {
  color: #fff !important;
}

.statistics-container {
  @extend .row;
}

.statistics {

  &.--element {
    @extend .col-md-6;
    @extend .col-lg-4;
  }

  &.--number {
    color: #fff;
    display: block;
  }

  &.--desc {
    color: $base-text;
    display: block;
  }
}

.information {
  display: block;
}
