@import 'bootstrap';
@import 'constants';
@import 'forms';
@import 'navbar';
@import 'dashboard';

.stokk-card {
  @extend .card;
  @extend .card-block;
  @extend .card-inverse;
  border-color: $grey-accent;
  border-width: 1px;
}

.preloader-image {
  @extend .img-responsive;
  display: block;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}

.base-text {
  color: $base-text;
}

body {
  background-color: $main-background;
}

.dashboard-placeholder-title {
  color: #fff;
  font-family: SanFranciscoRegular;
  margin-bottom: 30px;
}

.dashboard-placeholder-blockquote {
  @extend .blockquote;
  color: #fff;
  font-family: SanFranciscoRegular;
}
