@import "bootstrap";
@import "register";

$dark-background: rgb(26, 28, 34);
$main-background: #252830;

.stokk-navbar {
	@extend .navbar;
	@extend .navbar-dark;
	background-color: $dark-background;
	border-radius: 0px;
}

.navbar-brand img{
	max-width: 125px;
}

body {
	background-color: $main-background;
}