@import 'bootstrap';
@import 'constants';
@import 'forms';
@import 'navbar';

.stokk-card {
  @extend .card;
  @extend .card-block;
  @extend .card-inverse;
  border-color: $grey-accent;
  border-width: 1px;
}

.preloader-image {
  @extend .img-responsive;
  display: block;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: $main-background;
}

.dashboard-welcome {
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-sm-offset-3;
  color: #aaa;
  font-size: 36px;
  margin-top: 5vh;
  text-align: center;

  & p {
    font-size: 22px;
  }
}

.dashboard-page-image {
  padding: 10px;
  width: 300px;
}
