$fa-font-path: '/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import 'constants';

.stokk-navbar {
  @extend .navbar;
  @extend .navbar-dark;
  background-color: $dark-background;
  border-radius: 0;
  font-family: SanFranciscoRegular;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand-image {
  max-width: 75px;
  padding-top: 5px;
}

.nav-item-right {
  @extend .nav-item;
  @extend .pull-right;
}

.btn-navbar-dropdown {
  @extend .dropdown-toggle;
  background-color: transparent;
  border-color: transparent;
  color: $button-text;
  padding: 5px 0;

  &:after {
    display: none;
  }

  &:hover  {
    color: $button-hover-text;
  }
}

.email-dropdown {
  display: block;
  @include breakpoint(xxxs) {
    display: none;
  }
}

.icon-dropdown {
  @extend .fa;
  @extend .fa-bars;
  display: none;
  font-size: (10em / 7);
  @include breakpoint(xxxs) {
    display: block;
  }
}

.dropdown-menu-right {
  background-color: $dark-background;
  border-color: $grey-accent;
  border-radius: 0 0 5px 5px;
  border-width: 0;
  font-family: SanFranciscoThin;
  margin-top: 8px;
}

.dropdown-item {
  color: #aaa;

  &:hover {
    background-color: $grey-accent;
    color: #aaa;
  }
}
