@import 'constants';

.new-stock-form {
  font-family: SanFranciscoRegular;
  margin: 25px auto 0;
  max-width: 500px;

  &__search-icon-container {
    background-color: $grey-accent;
    border: 0;
  }

  &__search-icon {
    @extend .fa;
    @extend .fa-search;
    color: $button-text;
  }
}

.stock-preview {
  color: #fff;
  margin: 5px 0;
  padding: 0 2px;
  text-align: right;

  &__symbol {
    float: left;
    padding: 6px 0;
    text-align: left;
    width: 70px;
  }

  &__name {
    -o-text-overflow: ellipsis;
    float: left;
    overflow: hidden;
    padding: 6px 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    @include breakpoint(xxxs) {
      width: 60%;
    }
    @include breakpoint(xxxxs) {
      width: 50%;
    }
    @include breakpoint(xxxxxs) {
      width: 40%;
    }
  }
}
