@import 'constants';

.new-stock-form-container {
  padding-bottom: 400px;
}

.new-stock-form {
  font-family: SanFranciscoRegular;
  margin: 25px auto 0;
  max-width: 500px;

  &__search-icon-container {
    background-color: $grey-accent;
    border: 0;
  }

  &__preloader-container {
    background-color: $grey-accent;
    border: 0;
  }

  &__search-icon {
    @extend .fa;
    @extend .fa-search;
    color: $button-text;
  }

  &__preloader {
    @extend .fa;
    @extend .fa-spinner;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    color: $button-text;
  }
}

.stock-preview {
  color: #fff;
  margin: 5px 0;
  padding: 0 2px;
  text-align: right;

  &__symbol {
    float: left;
    padding: 6px 0;
    text-align: left;
    width: 70px;
  }

  &__name {
    -o-text-overflow: ellipsis;
    float: left;
    overflow: hidden;
    padding: 6px 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
    @include breakpoint(xxs) {
      width: 60%;
    }
    @include breakpoint(xxxs) {
      width: 50%;
    }
    @include breakpoint(xxxxs) {
      width: 35%;
    }
    @include breakpoint(xxxxxs) {
      width: 30%;
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
