@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }

  @-moz-keyframes #{$animation} {
    @content;
  }

  @-o-keyframes #{$animation} {
    @content;
  }

  @-ms-keyframes #{$animation} {
    @content;
  }

  @-keyframes #{$animation} {
    @content;
  }
}

@mixin move-animation {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(200px, 0);
  }

  50% {
    transform: translate(200px, 200px);
  }

  75% {
    transform: translate(0, 200px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@mixin spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@include keyframes(move) {
  @include move-animation;
}

@include keyframes(spin) {
  @include spin-animation;
}

@mixin animation($opts...) {
  -moz-animation: $opts;
  -ms-animation: $opts;
  -o-animation: $opts;
  -webkit-animation: $opts;
  animation: $opts;
}

.vaporwave-container {
  @include animation(move 10s infinite linear);

  & img {
    @include animation(spin 5s infinite linear)
  }
}
